Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

Adding an extra clarifying comment to the only remaining section of the application code that references 'advice'
  src/views/TechnicalAssistance/index.tsx
Owners: @CMS-Enterprise/easi-frontend

modify emails and add tests
  .envrc
  .github/workflows/run_tests.yml
  cmd/test_email_templates/main.go
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/cedar/core/role.go
  pkg/cedar/core/role_test.go
  pkg/email/cedar_you_have_been_added.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/email.go
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/server/config.go
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend

Test broken client
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Attempt `env` `GITHUB_ACTIONS`
  .github/workflows/run_tests.yml
Owners: @CMS-Enterprise/easi

Revert "Attempt `env` `GITHUB_ACTIONS`"
  .github/workflows/run_tests.yml
Owners: @CMS-Enterprise/easi

Revert "Test broken client"
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Revert "Try vitest reporter"
  .github/workflows/run_tests.yml
  package.json
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

testing with mutex
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/resolvers/resolver_test.go
Owners: @CMS-Enterprise/easi-backend

refactor goroutine code and how client handles cache purge
  pkg/cedar/core/client.go
  pkg/cedar/core/role.go
  pkg/cedar/core/system_summary.go
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/schema.resolvers.go
  pkg/oktaapi/client_wrapper.go
Owners: @CMS-Enterprise/easi-backend

without errorgroup
  pkg/cedar/core/role.go
Owners: @CMS-Enterprise/easi-backend

remove race and sleep
  pkg/cedar/core/role.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
Owners: @CMS-Enterprise/easi-backend

Mock recommendation types
  src/types/technicalAssistance.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/mockTRBRecommendations.ts
Owners: @CMS-Enterprise/easi-frontend

<RecommendationsCategory />
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/RecommendationsCategory.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/mockTRBRecommendations.ts
Owners: @CMS-Enterprise/easi-frontend

adding in category
  cmd/devdata/trb_request.go
  migrations/V192__Guidance_categories.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_recommendation.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

wiring up query
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

Delete unused software acquisition files
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_software_acquisition.go
  pkg/models/system_intake_software_acquisition.go
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
Owners: @CMS-Enterprise/easi-backend

Fix typos
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/i18n/en-US/governanceOverview.ts
Owners: @CMS-Enterprise/easi-frontend

Admin note recommendations, mock data
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/formatTRBRecommendationTitle.ts
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/RecommendationsCategory.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/mockTRBRecommendations.ts
Owners: @CMS-Enterprise/easi-frontend

Vite scss api modern
  vite.config.ts
Owners: @CMS-Enterprise/easi-frontend

Node package type module Clear out leftover require()s
  cypress.config.ts
  package.json
  vite.config.ts
Owners: @CMS-Enterprise/easi-frontend

Update snapshots to reflect ITGO language changes
  src/components/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

condense arg list, update sql
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/schema.resolvers.go
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

fix import path
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

working on update order for when category changes, working on
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

fix sql, will test
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

add slack link
  .github/workflows/run_tests.yml
Owners: @CMS-Enterprise/easi

Switch to `.graphql-schema-linterrc`
  .graphql-schema-linterrc
  graphql-schema-linter.config.js
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

Conf reporter github-actions
  .github/workflows/run_tests.yml
  package.json
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

Test broken client
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

vite-plugin-svgr@^4.2.0
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

Revert "Test broken client"
  src/views/SystemWorkspace/components/HelpLinks/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

add slack link to envrc
  .envrc
Owners: @CMS-Enterprise/easi

Revert "Switch to `.graphql-schema-linterrc`"
  .graphql-schema-linterrc
  graphql-schema-linter.config.js
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

Revert "Node package type module"
  cypress.config.ts
  package.json
  vite.config.ts
Owners: @CMS-Enterprise/easi-frontend

Revert "Vite scss api modern"
  vite.config.ts
Owners: @CMS-Enterprise/easi-frontend

add another variable spot
  docker-compose.yml
Owners: @CMS-Enterprise/easi

remove var from CI yml
  .github/workflows/run_tests.yml
Owners: @CMS-Enterprise/easi

EASI-4649 Upgrade vite & vitest (#2858)
  .github/workflows/run_tests.yml
  package.json
  src/setupTests.ts
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
  yarn.lock
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

[EASI-4651] ITGO Language Updates (#2856)
  src/components/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/i18n/en-US/governanceOverview.ts
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

add `category` to TRBGuidanceLetterRecommendation
  migrations/V192__Guidance_categories.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/storage/trb_guidance_letter_recommendation.go
  src/gql/gen/graphql.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend
