Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

Style updates
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/index.scss
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Select request alert
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Restructure tabs
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Add new software acquisition method and finalize software acquisition intake questions and information
  cmd/devdata/system_intake.go
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  pkg/models/system_intake_software_acquisition.go
  src/components/BusinessCaseReview/AlternativeAnalysisReview/index.tsx
  src/components/SystemIntakeReview/index.tsx
  src/constants/enums/SystemIntakeSoftwareAcquisitionMethods.ts
  src/data/common.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/intake.ts
  src/types/graphql-global-types.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Update e2e and snapshot tests to reflect new system intake software acquisition data
  cypress/e2e/systemIntake.cy.js
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

add query for comparing intakes
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/resolvers/system_intake_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_grb_reviewers.go
  pkg/sqlqueries/SQL/system_intake_grb_reviewer/compare.sql
  pkg/sqlqueries/system_intake_grb_reviewers.go
  pkg/storage/system_intake_grb_reviewer.go
  src/gql/gen/graphql.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

ISSO display name
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

lint again
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

update postman
  EASI.postman_collection.json
Owners: @CMS-Enterprise/easi

Alert size
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

[EASI-4584] bulk add grb reviewers comparison query (#2826)
  EASI.postman_collection.json
  cmd/devdata/main.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/resolvers/system_intake_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_grb_reviewers.go
  pkg/sqlqueries/SQL/system_intake_grb_reviewer/compare.sql
  pkg/sqlqueries/system_intake_grb_reviewers.go
  pkg/storage/system_intake_grb_reviewer.go
  src/gql/gen/graphql.ts
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

GRB reviewers query
  src/gql/apolloGQL/grbReview/GetGRBReviewersComparisons.ts
  src/gql/gen/graphql.ts
Owners: @CMS-Enterprise/easi-frontend

Added session hook, implmented login and redirect
  output.txt
  src/components/Header/index.tsx
  src/components/PageWrapper/index.tsx
  src/components/shared/OktaSignInWidget/index.scss
  src/components/shared/OktaSignInWidget/index.tsx
  src/hooks/useOktaSession.ts
  src/views/Home/WelcomePage.tsx
  src/views/UserInfoWrapper/index.tsx
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

Changed MINT to EASI
  src/components/Header/index.tsx
  src/views/Home/WelcomePage.tsx
Owners: @CMS-Enterprise/easi-frontend

Remove output.txt
  output.txt
Owners: @CMS-Enterprise/easi

Ran lint
  src/components/shared/OktaSignInWidget/index.scss
Owners: @CMS-Enterprise/easi-frontend

Upgrade sass and move it to devDependencies. Replace @cypress/webpack-preprocessor with cypress-vite
  cypress/plugins/index.js
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

TeamTable
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/TeamTable.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Hook up edit and remove
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Modal remove text
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Sorts
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Bulk add combobox functionality
  src/i18n/en-US/grbReview.ts
  src/types/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Revert cypress vite change
  cypress/plugins/index.js
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

Update babel, cypress, and webpack packages
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

Update i18n key and added prop for text used on Team Role Multiselect
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Reviewers count on submit button
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

EASI-4551 Add a system team member (#2819)
  src/hooks/useIsWorkspaceParam.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.test.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/components/TeamCard/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/TeamCard/index.test.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Update reviewer fields to array type
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

clean up migration file
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
Owners: @CMS-Enterprise/easi-backend

Modify how software acquisition enums are stored in i18n file
  src/components/SystemIntakeReview/index.tsx
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Reviewers table
  src/types/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix issue with software acquisition strategy enum translation
  src/components/SystemIntakeReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Regen mock data fix randomized roles
  src/data/mock/workspaceTeamRoles.ts
  src/views/SystemWorkspace/components/TeamCard/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

Fix lint errors
  pkg/storage/system_intake_software_acquisition.go
  src/components/BusinessCaseReview/AlternativeAnalysisReview/index.tsx
  src/components/SystemIntakeReview/index.tsx
  src/data/mock/systemIntake.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

add logic for emails when starting grb review
  cmd/devdata/main.go
  cmd/test_email_templates/main.go
  pkg/email/system_intake_create_grb_reviewer.go
  pkg/email/system_intake_create_grb_reviewer_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/schema.resolvers.go
  pkg/helpers/helpers.go
  pkg/local/email.go
Owners: @CMS-Enterprise/easi-backend

update snapshots
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

add comments to helpers
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/helpers/helpers.go
  pkg/local/cedarcoremock/system_summary.go
Owners: @CMS-Enterprise/easi-backend

update graph and e2e tests
  cypress/e2e/systemIntake.cy.js
  pkg/graph/schema.resolvers_system_intake_test.go
Owners: @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

fix initial state issue with acquisition checkboxes
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Text and dom updates for the workspace ctx
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend
