Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

Rename recommendation fragment
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/TRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
Owners: @CMS-Enterprise/easi-frontend

GetTRBGuidanceLetterInsights query
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/GetTRBGuidanceLetterInsights.ts
  src/queries/types/GetTrbRecommendations.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
Owners: @CMS-Enterprise/easi-frontend

CreateTRBGuidanceLetterInsight mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/CreateTRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

better naming
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

doc around cleaning up order
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

UpdateTRBGuidanceLetterInsight mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/UpdateTRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
Owners: @CMS-Enterprise/easi-frontend

UpdateTRBGuidanceLetterInsightOrder mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/UpdateTRBGuidanceLetterInsightOrder.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Owners: @CMS-Enterprise/easi-frontend

DeleteTRBGuidanceLetterInsight mutation
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/DeleteTRBGuidanceLetterInsight.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
Owners: @CMS-Enterprise/easi-frontend

[EASI-4653] Modify CEDAR system role emails (#2859)
  .envrc
  .github/workflows/run_tests.yml
  cmd/test_email_templates/main.go
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/cedar/core/client.go
  pkg/cedar/core/role.go
  pkg/cedar/core/role_test.go
  pkg/cedar/core/system_summary.go
  pkg/email/cedar_you_have_been_added.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/email.go
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/schema.resolvers.go
  pkg/oktaapi/client_wrapper.go
  pkg/server/config.go
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

more tests for order operations
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Owners: @CMS-Enterprise/easi-backend

TRBAdminNote gqlgen queries
  src/data/mock/trbRequest.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteConsultSessionQuery.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteGeneralRequest.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteGuidanceLetter.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteInitialRequestForm.ts
  src/gql/apolloGQL/trb/AdminNotes/CreateTRBAdminNoteSupportingDocuments.ts
  src/gql/apolloGQL/trb/AdminNotes/GetTRBAdminNotes.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNote.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNoteCategorySpecificData.ts
  src/gql/gen/graphql.ts
  src/queries/GetTrbAdminNotesQuery.ts
  src/queries/TrbAdminNoteQueries.ts
  src/queries/types/CreateTRBAdminNoteConsultSession.ts
  src/queries/types/CreateTRBAdminNoteGeneralRequest.ts
  src/queries/types/CreateTRBAdminNoteGuidanceLetter.ts
  src/queries/types/CreateTRBAdminNoteInitialRequestForm.ts
  src/queries/types/CreateTRBAdminNoteSupportingDocuments.ts
  src/queries/types/GetTrbAdminNotes.ts
  src/queries/types/TRBAdminNoteFragment.ts
  src/types/graphql-global-types.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteModal/index.tsx
  src/views/TechnicalAssistance/AdminHome/types/NewNote.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
Owners: @CMS-Enterprise/easi-frontend

Add category field to queries
  src/data/mock/trbRequest.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNote.ts
  src/gql/apolloGQL/trb/AdminNotes/TRBAdminNoteCategorySpecificData.ts
  src/gql/apolloGQL/trb/GuidanceLetter/TRBGuidanceLetterInsight.ts
  src/gql/gen/graphql.ts
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Recommendations > Insights
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

RecommendationsForm > InsightsForm
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Owners: @CMS-Enterprise/easi-frontend

RecommendationLinks > InsightLinks
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/InsightLinks.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
Owners: @CMS-Enterprise/easi-frontend

RemoveRecommendationModal > RemoveInsightModal
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveInsightModal/Index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveInsightModal/index.scss
Owners: @CMS-Enterprise/easi-frontend

RecommendationsList > InsightsList
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightLinks.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
Owners: @CMS-Enterprise/easi-frontend

Recommendation > Insight cleanup
  src/types/technicalAssistance.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/LinksArrayField/Index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Update step description
  src/i18n/en-US/technicalAssistance.ts
Owners: @CMS-Enterprise/easi-frontend

RecommendationsForm cleanup
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Category field
  src/i18n/en-US/technicalAssistance.ts
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Owners: @CMS-Enterprise/easi-frontend

InsightsCategory
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
Owners: @CMS-Enterprise/easi-frontend

update sql, gql
  migrations/V193__Guidance_categories.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

block setting category to `uncategorized`
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Owners: @CMS-Enterprise/easi-backend

[NOREF] Add LCID and Expiration Date to portfolio report CSV (#2868)
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
Owners: @CMS-Enterprise/easi-frontend

update other email template for team mgmt
  cmd/test_email_templates/main.go
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/templates/cedar_new_team_member.gohtml
  pkg/email/templates/cedar_you_have_been_added.gohtml
Owners: @CMS-Enterprise/easi-backend

only send leads email when user added
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
Owners: @CMS-Enterprise/easi-backend

[EASI-4653] Update other email template for team mgmt (#2872)
  cmd/test_email_templates/main.go
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/templates/cedar_new_team_member.gohtml
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/resolvers/cedar_set_roles_for_user.go
  pkg/graph/resolvers/cedar_set_roles_for_user_test.go
Owners: @CMS-Enterprise/easi-backend

add other categories to dev data
  cmd/devdata/trb_request.go
Owners: @CMS-Enterprise/easi-backend

postman
  EASI.postman_collection.json
Owners: @CMS-Enterprise/easi

Display insight categories
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/InsightsCategory.tsx
  src/views/TechnicalAssistance/AdminHome/components/InsightsList/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
Owners: @CMS-Enterprise/easi-frontend

bump postman
  EASI.postman_collection.json
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

customize unmarshal functionality for the category enum type. add Note [gql enums]
  pkg/graph/resolvers/system_intake_relation.go
  pkg/models/models_gen.go
  pkg/models/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

fix key
  EASI.postman_collection.json
Owners: @CMS-Enterprise/easi

allow for both required and optional
  pkg/graph/generated/generated.go
  pkg/models/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

match type order
  pkg/models/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

whitespace
  pkg/models/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

remove unused
  pkg/models/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

Add uncategorized insights to the TRB
  cmd/devdata/trb_request.go
Owners: @CMS-Enterprise/easi-backend

Remove hard coded category
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Insights.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InsightsForm.tsx
Owners: @CMS-Enterprise/easi-frontend
