Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

Update form validation
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Added dynamic regex-based filtering to email client recipients
  .envrc
  .github/workflows/run_tests.yml
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/server/routes.go
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend

Update comments
  pkg/appses/ses.go
Owners: @CMS-Enterprise/easi-backend

Add log to debug parsed regex
  pkg/server/routes.go
Owners: @CMS-Enterprise/easi-backend

Move recipientRegex field to SES Config object
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/server/config.go
  pkg/server/routes.go
Owners: @CMS-Enterprise/easi-backend

Check for length of recipient addresses _after_ filtering
  pkg/appses/ses.go
Owners: @CMS-Enterprise/easi-backend

updateTRBGuidanceLetter
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/GetTrbPublicAdviceLetterQuery.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/TRBGuidanceLetter.ts
  src/queries/types/UpdateTrbGuidanceLetter.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Rename env var to clarify whitelist/allowlist behavior (SES_RECIPIENT_ALLOWLIST_REGEX)
  .envrc
  .github/workflows/run_tests.yml
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/server/config.go
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend

Update tests
  pkg/appses/ses_test.go
  pkg/server/config.go
Owners: @CMS-Enterprise/easi-backend

RequestReviewForTRBGuidanceLetter
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/RequestReviewForTRBAdviceLetter.ts
  src/queries/types/RequestReviewForTRBGuidanceLetter.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

sendTRBGuidanceLetter
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/SendTRBGuidanceLetter.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

CreateTRBGuidanceLetterRecommendation
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/CreateTRBRecommendation.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Update regex env var logic to always parse to regex (handling case of empty string)
  pkg/appses/ses.go
  pkg/server/config.go
Owners: @CMS-Enterprise/easi-backend

updateTRBGuidanceLetterRecommendation
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/UpdateTRBRecommendation.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

UpdateTRBGuidanceLetterRecommendationOrder
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/UpdateTrbRecommendationOrder.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

DeleteTRBGuidanceLetterRecommendation
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/DeleteTRBRecommendation.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Fix sass warns following suggestions
  src/views/Navigation/index.scss
Owners: @CMS-Enterprise/easi-frontend

guidanceLetterStatus
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request.go
  src/data/mock/trbRequest.ts
  src/gql/gen/graphql.ts
  src/queries/GetTrbAdminTeamHomeQuery.ts
  src/queries/GetTrbPublicAdviceLetterQuery.ts
  src/queries/GetTrbRequestHomeQuery.ts
  src/queries/GetTrbRequestSummaryQuery.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/TrbRequestFormFieldsFragment.ts
  src/queries/types/CreateTrbRequest.ts
  src/queries/types/GetTrbAdminTeamHome.ts
  src/queries/types/GetTrbAdviceLetter.ts
  src/queries/types/GetTrbPublicAdviceLetter.ts
  src/queries/types/GetTrbRequest.ts
  src/queries/types/GetTrbRequestHome.ts
  src/queries/types/GetTrbRequestSummary.ts
  src/queries/types/TrbRequestFormFields.ts
  src/queries/types/UpdateTrbRequestAndForm.ts
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/CloseRequest.test.tsx
  src/views/TechnicalAssistance/AdminHome/GuidanceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.test.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.tsx
  src/views/TechnicalAssistance/RequestForm/Check.test.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

GuidanceLetterStatusTaskList
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/trb_request.go
  src/gql/gen/graphql.ts
  src/queries/GetTrbTasklistQuery.ts
  src/queries/types/GetTrbTasklist.ts
  src/views/TechnicalAssistance/TaskList.test.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

[EASI-4654] Added dynamic regex-based filtering to email client recipients (#2852)
  .envrc
  .github/workflows/run_tests.yml
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/server/config.go
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend

adviceLetter
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/data/mock/trbRequest.ts
  src/gql/gen/graphql.ts
  src/queries/GetTrbPublicAdviceLetterQuery.ts
  src/queries/GetTrbRequestHomeQuery.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/GetTrbGuidanceLetter.ts
  src/queries/types/GetTrbPublicAdviceLetter.ts
  src/queries/types/GetTrbRecommendations.ts
  src/queries/types/GetTrbRequestHome.ts
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/GuidanceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/AdminHome/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.test.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

some cleanup
  pkg/models/trb_admin_note_trb_recommendation_link.go
  src/data/mock/trbRequest.ts
  src/queries/GetTrbPublicGuidanceLetterQuery.ts
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/GetTrbPublicGuidanceLetter.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
  src/views/TechnicalAssistance/AdminHome/GuidanceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.test.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

postman collection updates
  EASI.postman_collection.json
Owners: @CMS-Enterprise/easi

further text and vars cleanup
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/models/trb_request.go
  src/i18n/en-US/tableAndPagination.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.test.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

in displayed text (fixed other typos in file too)
  src/i18n/en-US/technicalAssistance.ts
Owners: @CMS-Enterprise/easi-frontend

[NOREF] Upgrade sass, cypress, and build tooling (#2830)
  package.json
  src/views/Navigation/index.scss
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

[EASI-4654] Added dynamic regex-based filtering to email client recipients (#2852)
  .envrc
  .github/workflows/run_tests.yml
  deploy/base/easi.yaml
  docker-compose.yml
  pkg/appconfig/config.go
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/server/config.go
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend

BE refactoring for ELA / Software Acquisition questions in System Intake
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_software_acquisition.go
  pkg/models/system_intake_software_acquisition.go
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
Owners: @CMS-Enterprise/easi-backend

Working commit of BE pipeline for new System Intake software acquisition data
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_software_acquisition.go
  pkg/graph/generated/generated.go
  pkg/models/models_gen.go
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Add schema validation for software acquisition questions, fix mock data issue
  cmd/devdata/system_intake.go
  src/validations/systemIntakeSchema.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

PR changes and code cleanup
  migrations/V191__Add_System_Intake_Software_Acquisition_Info.sql
  pkg/graph/resolvers/system_intake.go
  src/components/SystemIntakeReview/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Fiz merge issues with generated graph files
  pkg/graph/generated/generated.go
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

in displayed text (fixed other typos in file too) (#2854)
  src/i18n/en-US/technicalAssistance.ts
Owners: @CMS-Enterprise/easi-frontend

Chane language in ITGO task list and Prepare for GRB page to reflect updated HHS governance guidelines
  src/i18n/en-US/articles/governanceReviewBoard.ts
  src/i18n/en-US/governanceOverview.ts
Owners: @CMS-Enterprise/easi-frontend

Update snapshots to reflect ITGO language changes
  src/components/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

vite@^5.4.9
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

vitest@^2.1.3
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

@vitest/coverage-v8@^2.1.3
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

Fix tsc error with `window.HTMLElement.prototype.scrollIntoView = vi.fn()`
  src/setupTests.ts
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Try vitest reporter
  .github/workflows/run_tests.yml
  package.json
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend
