Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

Add error check to update software acquisition storage call
  pkg/graph/resolvers/system_intake.go
Owners: @CMS-Enterprise/easi-backend

fix case where new user is a project lead
  pkg/email/cedar_new_team_member.go
Owners: @CMS-Enterprise/easi-backend

allow for multiple project team leads/gtl/cor
  pkg/email/cedar_new_team_member.go
Owners: @CMS-Enterprise/easi-backend

[ EASI-4647] Okta session check - Auto login and redirect (#2828)
  src/components/Header/index.tsx
  src/components/PageWrapper/index.tsx
  src/components/shared/OktaSignInWidget/index.scss
  src/components/shared/OktaSignInWidget/index.tsx
  src/hooks/useOktaSession.ts
  src/views/Home/WelcomePage.tsx
  src/views/UserInfoWrapper/index.tsx
Owners: @CMS-Enterprise/easi-frontend

write some more tests around determining who to send email notifications to
  pkg/email/cedar_new_team_member_test.go
Owners: @CMS-Enterprise/easi-backend

Rename function
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
Owners: @CMS-Enterprise/easi-backend

[EASI-4567] Team member notification emails (#2804)
  pkg/cedar/core/role.go
  pkg/cedar/core/system_detail.go
  pkg/email/cedar_new_team_member.go
  pkg/email/cedar_new_team_member_test.go
  pkg/email/cedar_you_have_been_added.go
  pkg/email/cedar_you_have_been_added_test.go
  pkg/email/email.go
  pkg/email/templates/cedar_new_team_member.gohtml
  pkg/email/templates/cedar_you_have_been_added.gohtml
  pkg/graph/schema.resolvers.go
  pkg/local/cedarcoremock/roles.go
  pkg/models/cedar_role.go
Owners: @CMS-Enterprise/easi-backend

refactor from helpers to lo
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/helpers/helpers.go
  pkg/local/cedarcoremock/system_summary.go
Owners: @CMS-Enterprise/easi-backend

Refactor add reviewer from eua form
  src/types/grbReview.ts
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix schema
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
Owners: @CMS-Enterprise/easi-frontend

Bulk add form submit
  src/i18n/en-US/grbReview.ts
  src/types/grbReview.ts
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Style updates
  src/components/Tabs/TabPanel.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix errors with graph system intake resolver tests
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/graph/schema.resolvers_system_intake_test.go
  scripts/dev
  src/i18n/en-US/intake.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

[EASI-4598] GRB reviewer email notifications (#2831)
  cmd/devdata/main.go
  cmd/test_email_templates/main.go
  pkg/email/system_intake_create_grb_reviewer.go
  pkg/email/system_intake_create_grb_reviewer_test.go
  pkg/graph/resolvers/resolver_test.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/resolvers/system_intake_grb_reviewer_test.go
  pkg/graph/schema.resolvers.go
  pkg/helpers/helpers.go
  pkg/local/cedarcoremock/system_summary.go
  pkg/local/email.go
Owners: @CMS-Enterprise/easi-backend

Fix issue with e2e testing for system intake
  cypress/e2e/systemIntake.cy.js
  cypress/support/systemIntake.js
  pkg/storage/truncate.go
  src/i18n/en-US/intake.ts
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

Requisite roles feedback Table warning Text feedback in the modal delete confirm
  src/data/mock/workspaceTeamRoles.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix lint errors
  cypress/e2e/systemIntake.cy.js
Owners: @CMS-Enterprise/easi-frontend

Fix curly in COR string
  src/data/mock/workspaceTeamRoles.ts
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Ref `requisiteLevelsOfTeamRoles`
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Revise roles order
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

some file name changes
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/trb_request_guidance_letter.go
  pkg/email/trb_guidance_letter_internal_review.go
  pkg/email/trb_guidance_letter_internal_review_test.go
  pkg/email/trb_guidance_letter_submitted.go
  pkg/email/trb_guidance_letter_submitted_test.go
  pkg/graph/resolvers/trb_guidance_letter.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
  pkg/models/trb_guidance_letter.go
  pkg/models/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter.go
  pkg/storage/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_test.go
Owners: @CMS-Enterprise/easi-backend

ocouple more
  pkg/models/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_guidance_letter_test.go
Owners: @CMS-Enterprise/easi-backend

Add BaseStruct to system intake software acquisition
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/graph/resolvers/system_intake.go
  pkg/models/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Update tests for revised roles
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Translation utility type
  src/types/util.ts
Owners: @CMS-Enterprise/easi-frontend

Success / error messages
  src/i18n/en-US/grbReview.ts
  src/types/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

some sql changes
  cmd/populate_user_table/sql/get_all_full_names.sql
  cmd/populate_user_table/sql/get_all_usernames.sql
  migrations/V190__Advice_To_Guidance.sql
  pkg/sqlqueries/SQL/trb_request_guidance_letter/get_by_req_ID.sql
  pkg/sqlqueries/SQL/trb_request_guidance_letter/get_by_req_IDs.sql
  pkg/storage/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_guidance_letter.go
  pkg/storage/trb_guidance_letter_recommendation.go
  pkg/storage/truncate.go
  scripts/dev
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi

Table props
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Checkbox styling
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.scss
Owners: @CMS-Enterprise/easi-frontend

Fix message component
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

test CI
  cmd/devdata/main.go
Owners: @CMS-Enterprise/easi-backend

Refactor create function
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/BulkAddGRBReviewersForm.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

pin nginx version
  cedarproxy/Dockerfile.cedarproxy
Owners: @CMS-Enterprise/easi

Reorganize sorting points
  src/constants/teamRolesIndex.ts
  src/utils/getUsernamesWithRoles.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemWorkspace/TeamTable.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

[NOREF] Pin nginx version (#2836)
  cedarproxy/Dockerfile.cedarproxy
Owners: @CMS-Enterprise/easi

Cleanup
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Hide tabbed view when editing roles
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

more sql updates, container builds
  migrations/V190__Advice_To_Guidance.sql
  pkg/models/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_admin_note_trb_recommendation_link.go
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

feat: add new test:ci command to package.json that enables github actions reporting from vitest. Modify .github/workflows/run_test.yml to call test:ci instead of test:coverage
  .github/workflows/run_tests.yml
  package.json
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

col name
  pkg/storage/trb_admin_note_trb_recommendation_link.go
Owners: @CMS-Enterprise/easi-backend
