Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

Fix w pre-commit edits
  src/gql/gen/graphql.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Back to the workspace
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Styles
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

eslint updates from merge
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Prop pass existing `team` from system profile Remove the attempted lookup for a more isolated team member form
  src/gql/apolloGQL/GetSystemTeamMembers.ts
  src/gql/gen/graphql.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.test.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Snap
  src/views/SystemWorkspace/components/TeamCard/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

grbReviewStartedAt date
  src/gql/apolloGQL/grbReview/GetSystemIntakeGRBReviewers.ts
  src/gql/gen/graphql.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Refetch GRB reviewer query
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Attempt to set existing roles from member
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Reviewer count in modal
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Force MultiSelect rerender to show updated values by updating the component key
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Initial work for adding new ELA (Enterprise License Agreement) question(s) to ITGO Intake form
  migrations/V187__Add_System_Intake_ELA_Table.sql
  pkg/graph/schema.graphql
  pkg/models/system_intake_ela_info.go
  pkg/sqlqueries/SQL/system_intake_ela_info/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_ela_info/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_ela_info.go
  pkg/storage/system_intake_ela_info.go
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

More system intake ELA work
  migrations/V187__Add_System_Intake_ELA_Table.sql
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

BE refactoring for ELA / Software Acquisition questions in System Intake
  migrations/V189__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_software_acquisition.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake.go
  pkg/models/system_intake_ela_info.go
  pkg/models/system_intake_software_acquisition.go
  pkg/sqlqueries/SQL/system_intake_ela_info/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_ela_info/get_by_intake_IDs.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_ela_info.go
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake_ela_info.go
  pkg/storage/system_intake_software_acquisition.go
Owners: @CMS-Enterprise/easi-backend

Fix issue software acquisition storage
  migrations/V189__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/graph/resolvers/system_intake.go
  pkg/storage/system_intake_software_acquisition.go
Owners: @CMS-Enterprise/easi-backend

Refactor GQL schema for system intake software acquisition
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake_software_acquisition.go
Owners: @CMS-Enterprise/easi-backend

Reorganize request details page and add new sub section dividers
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-frontend

More software acquisition BE work
  pkg/graph/resolvers/system_intake.go
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
Owners: @CMS-Enterprise/easi-backend

Working commit of BE pipeline for new System Intake software acquisition data
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_software_acquisition.go
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  pkg/models/system_intake.go
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake_software_acquisition.go
  src/constants/enums/SystemIntakeSoftwareAcquisitionMethods.ts
  src/constants/externalUrls.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/intake.ts
  src/types/graphql-global-types.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Reorganize RequestDetails system intake page. Add subsections and reorder some questions.
  src/data/systemIntake.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/intake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/SystemIntake.ts
  src/queries/types/UpdateSystemIntakeRequestDetails.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Add i18n translation for System Intake software acquisition methods
  src/i18n/en-US/intake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Update devdata with system intake softwrae acquisition data
  cmd/devdata/system_intake.go
Owners: @CMS-Enterprise/easi-backend

Fix issue with software acquisition methods state management in System Intake Request Details form
  src/data/systemIntake.ts
  src/types/systemIntake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Renumber Software Acquisition migration to deconflict with new migrations
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
Owners: @CMS-Enterprise/easi-backend

Restore Contract Information text
  src/i18n/en-US/systemProfile.ts
Owners: @CMS-Enterprise/easi-frontend

Restore Contract Information text (#2822)
  src/i18n/en-US/systemProfile.ts
Owners: @CMS-Enterprise/easi-frontend

Revert mistaken ahead edit
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix cleared roles when selected existing members
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

[EASI-4608] Start GRB review (#2821)
  .vscode/settings.json
  apollo.config.js
  src/gql/apolloGQL/grbReview/CreateSystemIntakeGRBReviewers.ts
  src/gql/apolloGQL/grbReview/GetSystemIntakeGRBReviewers.ts
  src/gql/apolloGQL/grbReview/StartGRBReview.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/grbReview.ts
  src/types/graphql-global-types.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.scss
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
  src/views/GovernanceReviewTeam/index.tsx
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

[NOREF] Add environment name to email subjects (#2813)
  cmd/test_email_templates/main.go
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/email/subject_prepender.go
  pkg/email/subject_prepender_test.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/local/email.go
  pkg/server/routes.go
Owners: @CMS-Enterprise/easi-backend

Update go from 1.22.3 to 1.22.7 to support new gqlgen version
  Dockerfile
  Dockerfile.backend_k8s
  Dockerfile.cypress
  Dockerfile.db_seed
  docs/dev_environment_setup.md
  go.mod
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-backend

Re-run gqlgen
  pkg/graph/generated/generated.go
Owners: @CMS-Enterprise/easi-backend

Update src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Update src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Update src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Required fields text
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Collapse text spacing
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Margin between crumbs and alert
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Save changes
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Tabs basic layout
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend
