Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

Update page key
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
  src/views/TechnicalAssistance/AdminHome/trbAdminPages.ts
Owners: @CMS-Enterprise/easi-frontend

Translation text updates
  src/i18n/en-US/articles/stepsInTRBProcess.ts
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveRecommendationModal/Index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Done.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/LinksArrayField/Index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
Owners: @CMS-Enterprise/easi-frontend

Recommendation translation text fixes
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
Owners: @CMS-Enterprise/easi-frontend

Articles translation text
  src/i18n/en-US/articles/prepareTrbConsultMeeting.ts
  src/i18n/en-US/articles/stepsInTRBProcess.ts
Owners: @CMS-Enterprise/easi-frontend

Revert "Node 20.18.0"
  .github/workflows/build_application_images.yml
  .github/workflows/build_cedarproxy_image.yml
  .github/workflows/build_frontend_assets.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .nvmrc
  Dockerfile.client
  Dockerfile.client_ci
  Dockerfile.client_k8s
Owners: @CMS-Enterprise/easi

Docker cypress node 18.20.4
  Dockerfile.cypress
Owners: @CMS-Enterprise/easi

Update Cypress docker file to 18.20.3 since 18.20.4 doesn't exist
  Dockerfile.cypress
Owners: @CMS-Enterprise/easi

Fix merge issues
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

@trussworks/react-uswds ^3.2.0
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

Recommendations -> insights route
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Remove yarn install
  Dockerfile.cypress
Owners: @CMS-Enterprise/easi

Add actions/setup-python for CI Lint
  .github/workflows/run_tests.yml
Owners: @CMS-Enterprise/easi

[NOREF] Add actions/setup-python for CI Lint (#2845)
  .github/workflows/run_tests.yml
Owners: @CMS-Enterprise/easi

Add schema comments for GRB Review / Intake Comparison types
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

bump sql in anticipation of main merge
  migrations/V191__Advice_To_Guidance.sql
Owners: @CMS-Enterprise/easi-backend

Add python version
  .github/workflows/run_tests.yml
Owners: @CMS-Enterprise/easi

schema changes, updated some of UI. updated postgres enum value
  migrations/V191__Advice_To_Guidance.sql
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/trb_admin_note.go
  src/gql/gen/graphql.ts
  src/i18n/en-US/technicalAssistance.ts
  src/types/graphql-global-types.ts
  src/utils/tableRequestStatusIndex.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
  src/views/TechnicalAssistance/AdminHome/Feedback.tsx
  src/views/TechnicalAssistance/AdminHome/InitialRequestForm.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.tsx
  src/views/TechnicalAssistance/AdminHome/SupportingDocuments.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/NoteBox/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

AdviceLetterForm -> GuidanceLetterForm
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Done.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/LinksArrayField/Index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/GuidanceLetterForm/index.scss
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
  src/views/TechnicalAssistance/index.tsx
Owners: @CMS-Enterprise/easi-frontend

AdviceLetter -> GuidanceLetter
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.scss
  src/views/TechnicalAssistance/AdminHome/GuidanceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/trbAdminPages.ts
Owners: @CMS-Enterprise/easi-frontend

Typenames
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/LinksArrayField/Index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
Owners: @CMS-Enterprise/easi-frontend

ReviewAdviceLetter -> ReviewGuidanceLetter
  src/views/TechnicalAssistance/AdminHome/GuidanceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
Owners: @CMS-Enterprise/easi-frontend

Comment references
  src/queries/TrbAdminNoteQueries.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveRecommendationModal/Index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Text cleanup
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

PublicAdviceLetter -> PublicGuidanceLetter
  src/views/TechnicalAssistance/PublicGuidanceLetter.test.tsx
  src/views/TechnicalAssistance/PublicGuidanceLetter.tsx
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
  src/views/TechnicalAssistance/index.scss
  src/views/TechnicalAssistance/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Update mock data
  src/data/mock/trbRequest.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Action buttons
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
Owners: @CMS-Enterprise/easi-frontend

Test cleanup
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

InformationCard updates
  src/views/TechnicalAssistance/AdminHome/RequestHome.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Cleanup
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Review.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Rename recommendations schema
  src/validations/trbRequestSchema.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
Owners: @CMS-Enterprise/easi-frontend

Snapshots
  src/views/TechnicalAssistance/AdminHome/__snapshots__/Notes.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestHome.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/GuidanceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicGuidanceLetter.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

Test text updates
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Route redirect
  src/views/TechnicalAssistance/index.tsx
Owners: @CMS-Enterprise/easi-frontend

rename CreateTRBAdminNoteGuidanceLetter
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdminNoteQueries.ts
  src/queries/types/CreateTRBAdminNoteAdviceLetter.ts
  src/queries/types/CreateTRBAdminNoteGuidanceLetter.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

rename CreateTRBGuidanceLetter
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  src/gql/gen/graphql.ts
  src/queries/TrbAdviceLetterQueries.ts
  src/queries/types/CreateTrbGuidanceLetter.ts
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Updated snapshots
  src/views/Help/HelpHome/__snapshots__/index.test.tsx.snap
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

Update step description
  src/i18n/en-US/technicalAssistance.ts
Owners: @CMS-Enterprise/easi-frontend

Mock category field type
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
Owners: @CMS-Enterprise/easi-frontend

RecommendationsForm cleanup
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Category field
  src/i18n/en-US/technicalAssistance.ts
  src/views/TechnicalAssistance/GuidanceLetterForm/RecommendationsForm.tsx
Owners: @CMS-Enterprise/easi-frontend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend
