Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

Fix issue with devdata, reformat migration, and refactor system intake to use zero instead of null for usingSoftware
  cmd/devdata/system_intake.go
  migrations/V191__Add_System_Intake_Software_Acquisition_Info.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/models/system_intake.go
  src/data/common.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

fix sql
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

Add wrapper logic around yesNoMap to ensure proper handling of unknown values
  src/components/SystemIntakeReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Convert enz shallow tests to rtl render/snapshot
  src/components/BusinessCaseReview/index.test.tsx
  src/components/CollapsableList/index.test.tsx
  src/components/MandatoryFieldsAlert/index.test.tsx
  src/components/PageHeading/__snapshots__/index.test.tsx.snap
  src/components/PageHeading/index.test.tsx
  src/components/PlainInfo/index.test.tsx
  src/components/Tabs/TabPanel.test.tsx
  src/views/BusinessCase/Confirmation/__snapshots__/index.test.tsx.snap
  src/views/BusinessCase/Confirmation/index.test.tsx
  src/views/NotFound/__snapshots__/index.test.tsx.snap
  src/views/NotFound/index.test.tsx
  src/views/TermsAndConditions/__snapshots__/index.test.tsx.snap
  src/views/TermsAndConditions/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Add TLC Phase to System Profile header
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Update language on Threat Modeling System Workspace card
  src/i18n/en-US/systemWorkspace.ts
Owners: @CMS-Enterprise/easi-frontend

Update snapshots
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/HelpLinks/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

rename recommendations -> insights
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/models_gen.go
  src/data/mock/trbRequest.ts
  src/gql/gen/graphql.ts
  src/queries/GetTrbAdminNotesQuery.ts
  src/queries/TrbGuidanceLetterQueries.ts
  src/queries/types/CreateTRBAdminNoteConsultSession.ts
  src/queries/types/CreateTRBAdminNoteGeneralRequest.ts
  src/queries/types/CreateTRBAdminNoteGuidanceLetter.ts
  src/queries/types/CreateTRBAdminNoteInitialRequestForm.ts
  src/queries/types/CreateTRBAdminNoteSupportingDocuments.ts
  src/queries/types/CreateTrbGuidanceLetter.ts
  src/queries/types/GetTrbAdminNotes.ts
  src/queries/types/GetTrbGuidanceLetter.ts
  src/queries/types/GetTrbPublicGuidanceLetter.ts
  src/queries/types/GetTrbRecommendations.ts
  src/queries/types/TRBAdminNoteFragment.ts
  src/queries/types/TRBGuidanceLetter.ts
  src/queries/types/UpdateTrbGuidanceLetter.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewGuidanceLetter/index.tsx
  src/views/TechnicalAssistance/GuidanceLetterForm/Recommendations.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

fix test
  src/views/TechnicalAssistance/PublicGuidanceLetter.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Duplicate reviewer warning
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
Owners: @CMS-Enterprise/easi-frontend

testing out with tx
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

Add LCID and Expiration Date to portfolio report csv
  src/components/RequestRepository/csvPortfolioReportHeaderMap.ts
  src/data/systemIntake.ts
  src/i18n/en-US/intake.ts
Owners: @CMS-Enterprise/easi-frontend

Conversions continued
  src/components/Header/index.test.tsx
  src/views/GovernanceOverview/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

update test to make sure new categories are allowed through
  pkg/graph/resolvers/trb/recommendations/update_recommendation_order_test.go
Owners: @CMS-Enterprise/easi-backend

this sql might accomplish what i want
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

Shorten tests to snapshots
  src/components/Header/index.test.tsx
  src/components/LinkCard/index.test.tsx
  src/components/MainContent/index.test.tsx
  src/components/PageNumber/__snapshots__/index.test.tsx.snap
  src/components/PageNumber/index.test.tsx
  src/components/ReviewRow/__snapshots__/index.test.tsx.snap
  src/components/ReviewRow/index.test.tsx
  src/components/shared/DescriptionGroup/__snapshots__/index.test.tsx.snap
  src/components/shared/DescriptionGroup/index.test.tsx
  src/components/shared/HelpText/__snapshots__/index.test.tsx.snap
  src/components/shared/HelpText/index.test.tsx
  src/components/shared/SecondaryNav/__snapshots__/index.test.tsx.snap
  src/components/shared/SecondaryNav/index.test.tsx
  src/components/shared/UpcomingActions/__snapshots__/index.test.tsx.snap
  src/components/shared/UpcomingActions/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

add margin
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

remove slack link from compose
  docker-compose.yml
Owners: @CMS-Enterprise/easi

Convert tests with some interaction or conditions
  src/components/EstimatedLifecycleCost/Review/index.test.tsx
  src/components/shared/AutoSave/index.test.tsx
  src/components/shared/CollapsableLink/__snapshots__/index.test.tsx.snap
  src/components/shared/CollapsableLink/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

fix update query and insert query
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

working on tests
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Owners: @CMS-Enterprise/easi-backend

update comments
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  pkg/models/models_gen.go
  src/gql/gen/graphql.ts
  src/queries/types/CreateTrbGuidanceLetter.ts
  src/queries/types/GetTrbGuidanceLetter.ts
  src/queries/types/GetTrbInsights.ts
  src/queries/types/GetTrbPublicGuidanceLetter.ts
  src/queries/types/TRBGuidanceLetter.ts
  src/queries/types/UpdateTrbGuidanceLetter.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

Remove SearchBar (not used)
  src/components/shared/SearchBar/index.scss
  src/components/shared/SearchBar/index.test.tsx
  src/components/shared/SearchBar/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Revert "remove slack link from compose"
  docker-compose.yml
Owners: @CMS-Enterprise/easi

Remove unused DropdownField
  src/components/shared/DropdownField/index.scss
  src/components/shared/DropdownField/index.test.tsx
  src/components/shared/DropdownField/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Convert UI component tests to basic snapshots and state updates
  src/components/shared/CheckboxField/__snapshots__/index.test.tsx.snap
  src/components/shared/CheckboxField/index.test.tsx
  src/components/shared/ErrorAlert/__snapshots__/index.test.tsx.snap
  src/components/shared/ErrorAlert/index.test.tsx
  src/components/shared/FieldErrorMsg/__snapshots__/index.test.tsx.snap
  src/components/shared/FieldErrorMsg/index.test.tsx
  src/components/shared/FieldGroup/__snapshots__/index.test.tsx.snap
  src/components/shared/FieldGroup/index.test.tsx
  src/components/shared/Label/__snapshots__/index.test.tsx.snap
  src/components/shared/Label/index.test.tsx
  src/components/shared/RadioField/__snapshots__/index.test.tsx.snap
  src/components/shared/RadioField/index.test.tsx
  src/components/shared/TextAreaField/__snapshots__/index.test.tsx.snap
  src/components/shared/TextAreaField/index.test.tsx
  src/components/shared/TextField/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Enzyme is out
  package.json
  src/setupTests.ts
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

fix up sql, tests
  cmd/devdata/system_intake_actions.go
  cmd/devdata/trb_request.go
  cmd/populate_user_table/sql/get_all_full_names.sql
  cmd/populate_user_table/sql/get_all_usernames.sql
  migrations/V191__Advice_To_Guidance_Rec_To_Insight.sql
  migrations/V192__Guidance_categories.sql
  pkg/email/templates/trb_guidance_letter_submitted.gohtml
  pkg/graph/resolvers/trb_admin_note.go
  pkg/graph/resolvers/trb_admin_note_test.go
  pkg/models/trb_admin_note_trb_insight_link.go
  pkg/models/trb_guidance_letter_insight.go
  pkg/storage/trb_admin_note_trb_insight_link.go
  pkg/storage/trb_guidance_letter_insight.go
  pkg/storage/truncate.go
  scripts/dev
  src/components/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/components/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/GovernanceOverview/__snapshots__/index.test.tsx.snap
  src/views/Help/ITGovernance/NewSystem/__snapshots__/index.test.tsx.snap
  src/views/Help/TechnicalReviewBoard/__snapshots__/PrepareTrbConsultMeeting.test.tsx.snap
  src/views/PrepareForGRB/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/GuidanceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicGuidanceLetter.test.tsx.snap
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

testing out with tx (#2867)
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

renames
  pkg/storage/trb_guidance_letter_insight.go
Owners: @CMS-Enterprise/easi-backend

writing some unit tests for category adds/creates
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Owners: @CMS-Enterprise/easi-backend

add to test
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Owners: @CMS-Enterprise/easi-backend

fix get current recs based on category
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

add category to update input
  pkg/graph/generated/generated.go
  pkg/graph/schema.graphql
  src/gql/gen/graphql.ts
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

working on cleaning up order after changing categories for an insight
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
  pkg/graph/resolvers/trb_guidance_letter_recommendation_test.go
Owners: @CMS-Enterprise/easi-backend

typo in name of func
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

doh!
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

fix comments
  pkg/graph/resolvers/trb_guidance_letter_recommendation.go
Owners: @CMS-Enterprise/easi-backend

[EASI-4582] Add Software Acquisition questions to System Intake (#2825)
  cmd/devdata/system_intake.go
  cypress/e2e/systemIntake.cy.js
  cypress/support/systemIntake.js
  migrations/V191__Add_System_Intake_Software_Acquisition_Info.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/models_gen.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  pkg/storage/truncate.go
  src/components/SystemIntakeReview/index.tsx
  src/constants/enums/SystemIntakeSoftwareAcquisitionMethods.ts
  src/constants/externalUrls.ts
  src/data/common.ts
  src/data/mock/systemIntake.ts
  src/data/systemIntake.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/intake.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/SystemIntake.ts
  src/queries/types/UpdateSystemIntakeRequestDetails.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/validations/systemIntakeSchema.ts
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

bump sql numbers
  migrations/V192__Advice_To_Guidance.sql
  migrations/V193__Guidance_categories.sql
Owners: @CMS-Enterprise/easi-backend
