Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

comments and some grammar
  cmd/devdata/trb_request.go
  pkg/graph/resolvers/trb_request_status.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/storage/trb_guidance_letter_recommendation.go
  pkg/storage/trb_guidance_letter_test.go
Owners: @CMS-Enterprise/easi-backend

TeamMemberRoleTypeName
  src/constants/teamRolesIndex.ts
  src/types/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/TeamTable.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Redo workspace initial sort
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix deletingLastOfRole matcher
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Assert alert not present when all roles are
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Submission from workspace
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Update workspace breadcrumbs
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Cleanup
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

BreadcrumbLink class text-primary
  src/views/SystemWorkspace/SystemWorkspaceRequests/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/__snapshots__/RequestEdits.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/__snapshots__/Index.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/Breadcrumbs.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/PublicAdviceLetter.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

Move `Breadcrumbs` into shared
  src/components/StepHeader/index.stories.tsx
  src/components/shared/Breadcrumbs.tsx
  src/views/GovernanceReviewTeam/Actions/ManageLcid/index.tsx
  src/views/GovernanceReviewTeam/Actions/Resolutions/index.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionForm.tsx
  src/views/GovernanceTaskList/index.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/SystemWorkspaceRequests/index.tsx
  src/views/SystemWorkspace/index.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ActionFormWrapper/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Done.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
  src/views/TechnicalAssistance/ProcessFlow.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/RequestForm/AttendeesForm/index.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentUpload.tsx
  src/views/TechnicalAssistance/RequestForm/Feedback.tsx
  src/views/TechnicalAssistance/RequestForm/index.tsx
  src/views/TechnicalAssistance/RequestType.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/TrbAttendees.tsx
  src/views/TechnicalAssistance/TrbDocuments.tsx
Owners: @CMS-Enterprise/easi-frontend

Translation text updates
  src/i18n/en-US/articles/prepareTrbConsultMeeting.ts
  src/i18n/en-US/articles/stepsInTRBProcess.ts
  src/i18n/en-US/tableAndPagination.ts
  src/i18n/en-US/technicalAssistance.ts
Owners: @CMS-Enterprise/easi-frontend

Translation text - generic advice references
  src/i18n/en-US/articles/stepsInTRBProcess.ts
  src/i18n/en-US/help.ts
  src/i18n/en-US/technicalAssistance.ts
Owners: @CMS-Enterprise/easi-frontend

Translation key replacement
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RecommendationsList/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/RemoveRecommendationModal/Index.tsx
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Done.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Owners: @CMS-Enterprise/easi-frontend

Do not show remove for the last team member
  src/views/SystemProfile/components/Team/Edit/index.test.tsx
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Column wrap
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

update resolvers with previous logic
  pkg/graph/schema.resolvers.go
  src/components/shared/TaskStatusTag/index.tsx
  src/data/mock/trbRequest.ts
  src/types/technicalAssistance.ts
  src/views/TechnicalAssistance/AdminHome/AddNote/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/AddNote/useAddNote.ts
  src/views/TechnicalAssistance/AdminHome/AdviceLetter.tsx
  src/views/TechnicalAssistance/AdminHome/Notes.test.tsx
  src/views/TechnicalAssistance/AdminHome/RequestHome.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/InformationCard/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.test.tsx
  src/views/TechnicalAssistance/AdminHome/components/Note/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/RequestForm/Check.test.tsx
  src/views/TechnicalAssistance/TaskList.test.tsx
  src/views/TechnicalAssistance/TaskList.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

`@trussworks/react-uswds@3`
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

Resolve default `headingLevel` props to previous `h4` default
  src/components/shared/Alert/index.tsx
  src/views/AdditionalInformation/index.tsx
  src/views/GovernanceTaskList/AdditionalRequestInfo.tsx
  src/views/SystemProfile/components/FundingAndBudget/index.tsx
  src/views/SystemProfile/components/SubSystems/index.tsx
  src/views/SystemProfile/components/SystemData/index.tsx
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/ToolsAndSoftware/index.tsx
  src/views/SystemProfile/index.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/RequestForm/DocumentsTable.tsx
  src/views/TechnicalAssistance/RequestForm/SubmittedRequest.tsx
Owners: @CMS-Enterprise/easi-frontend

Resolve SummaryBox
  src/components/EstimatedLifecycleCost/CostSummary.tsx
  src/views/GovernanceReviewTeam/Actions/components/ActionsSummary.tsx
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/Help/InfoBox/NeedHelpBox.tsx
  src/views/Help/TechnicalReviewBoard/PrepareTrbConsultMeeting.tsx
  src/views/MakingARequest/__snapshots__/index.test.tsx.snap
  src/views/MakingARequest/index.tsx
  src/views/MyRequests/Table/__snapshots__/index.test.tsx.snap
  src/views/SystemList/__snapshots__/index.test.tsx.snap
  src/views/SystemList/index.tsx
  src/views/SystemProfile/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/ATO/index.tsx
  src/views/SystemProfile/components/SystemData/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/index.tsx
  src/views/SystemWorkspace/components/HelpLinks/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.tsx
  src/views/TechnicalAssistance/RequestForm/WhatHappensNext.tsx
  src/views/TechnicalAssistance/RequestForm/__snapshots__/Documents.test.tsx.snap
  src/views/TechnicalAssistance/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

Fix missed Icon changes
  src/views/SystemProfile/components/ToolsAndSoftware/index.tsx
  src/views/SystemWorkspace/SystemWorkspaceRequests/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/SystemWorkspaceRequests/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Resolve Button
  src/components/shared/IconButton/index.tsx
  src/views/TechnicalAssistance/RequestForm/FundingSources/FundingSources.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix alert placement
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Owners: @CMS-Enterprise/easi-frontend

Scroll to error message
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Table header text
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Hide some alerts for edit
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix styles due to missing cascade rule from `MainContent`
  src/views/SystemProfile/components/Team/Edit/__snapshots__/index.test.tsx.snap
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/TeamTable.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix button in workspace context
  src/views/SystemProfile/components/Team/Edit/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Move system intake software acuqisition data into system intake and refactor pipeline
  cmd/devdata/system_intake.go
  migrations/V190__Add_System_Intake_Software_Acquisition_Info.sql
  migrations/V190__Add_System_Intake_Software_Acquisition_Table.sql
  pkg/dataloaders/dataloaders.go
  pkg/dataloaders/system_intake_software_acquisition.go
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/graph/schema.resolvers_system_intake_test.go
  pkg/models/models_gen.go
  pkg/models/system_intake.go
  pkg/models/system_intake_software_acquisition.go
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_ID.sql
  pkg/sqlqueries/SQL/system_intake_software_acquisition/get_by_intake_IDs.sql
  pkg/sqlqueries/system_intake_software_acquisition.go
  pkg/storage/system_intake.go
  pkg/storage/system_intake_software_acquisition.go
  pkg/storage/truncate.go
  scripts/dev
  src/components/SystemIntakeReview/index.tsx
  src/gql/gen/graphql.ts
  src/queries/GetSystemIntakeQuery.ts
  src/queries/GetSystemIntakesTableQuery.ts
  src/queries/SystemIntakeQueries.ts
  src/queries/types/GetSystemIntake.ts
  src/queries/types/GetSystemIntakesTable.ts
  src/queries/types/SystemIntake.ts
  src/queries/types/UpdateSystemIntakeRequestDetails.ts
  src/types/graphql-global-types.ts
  src/types/systemIntake.ts
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

Updae snapshot
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/easi-frontend

fix mocked CEDAR sparx ID
  cmd/devdata/main.go
Owners: @CMS-Enterprise/easi-backend

Fix lint issues and update devdata and scripts
  cypress/e2e/systemIntake.cy.js
  migrations/V190__Add_System_Intake_Software_Acquisition_Info.sql
  src/components/SystemIntakeReview/index.tsx
  src/data/mock/systemIntake.ts
  src/data/systemIntake.ts
Owners: @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

PR code cleanup, add more descriptive ids to acquisition methods
  cypress/e2e/systemIntake.cy.js
  src/views/GovernanceReviewTeam/IntakeReview/__snapshots__/index.test.tsx.snap
  src/views/SystemIntake/RequestDetails/index.tsx
Owners: @CMS-Enterprise/easi-frontend

`@apollo/federation` resolution caused by `apollo` (deprecated) dependency
  package.json
Owners: @CMS-Enterprise/easi-frontend

Node 18.20.4
  .github/workflows/build_application_images.yml
  .github/workflows/build_cedarproxy_image.yml
  .github/workflows/build_frontend_assets.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .nvmrc
  Dockerfile.client
  Dockerfile.client_ci
  Dockerfile.client_k8s
Owners: @CMS-Enterprise/easi

Node 20.18.0
  .github/workflows/build_application_images.yml
  .github/workflows/build_cedarproxy_image.yml
  .github/workflows/build_frontend_assets.yml
  .github/workflows/deploy_to_environment.yml
  .github/workflows/run_tests.yml
  .nvmrc
  Dockerfile.client
  Dockerfile.client_ci
  Dockerfile.client_k8s
Owners: @CMS-Enterprise/easi

[NOREF] - fix mocked CEDAR sparx ID (#2844)
  cmd/devdata/main.go
Owners: @CMS-Enterprise/easi-backend

Select all functionality
  src/utils/tableSort.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.scss
Owners: @CMS-Enterprise/easi-frontend

Route updates
  src/views/TechnicalAssistance/AdminHome/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdminHome/components/ReviewAdviceLetter/index.tsx
  src/views/TechnicalAssistance/AdminHome/components/TrbAdminWrapper/useTrbAdminActionButtons.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Done.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/InternalReview.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/NextSteps.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Recommendations.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/RecommendationsForm.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Review.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/Summary.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/__snapshots__/index.test.tsx.snap
  src/views/TechnicalAssistance/AdviceLetterForm/index.test.tsx
  src/views/TechnicalAssistance/AdviceLetterForm/index.tsx
  src/views/TechnicalAssistance/PublicAdviceLetter.test.tsx
  src/views/TechnicalAssistance/TaskList.tsx
  src/views/TechnicalAssistance/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix cypress test lint error
  cypress/e2e/systemIntake.cy.js
Owners: @CMS-Enterprise/easi-frontend

[EASI-4606] Bulk add GRB reviewers (#2837)
  src/components/Tabs/TabPanel.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/index.scss
  src/gql/apolloGQL/grbReview/GetGRBReviewersComparisons.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/grbReview.ts
  src/types/grbReview.ts
  src/types/util.ts
  src/utils/tableSort.tsx
  src/validations/grbReviewerSchema.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewerFromEua.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/AddReviewersFromRequest.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.scss
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Owners: @CMS-Enterprise/easi-frontend
