Repository CMS-Enterprise/easi-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend, @CMS-Enterprise/easi-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/easi

# Frontend Changes
/yarn.lock @CMS-Enterprise/easi-frontend
/package.json @CMS-Enterprise/easi-frontend
/src/ @CMS-Enterprise/easi-frontend
/cypress/ @CMS-Enterprise/easi-frontend
/public/ @CMS-Enterprise/easi-frontend
/.storybook/ @CMS-Enterprise/easi-frontend
*.js @CMS-Enterprise/easi-frontend
*.ts @CMS-Enterprise/easi-frontend
*.tsx @CMS-Enterprise/easi-frontend

# Backend Changes
/go.mod @CMS-Enterprise/easi-backend
/go.sum @CMS-Enterprise/easi-backend
/pkg/ @CMS-Enterprise/easi-backend
/cmd/ @CMS-Enterprise/easi-backend
/migrations/ @CMS-Enterprise/easi-backend
*.go @CMS-Enterprise/easi-backend

Re-install crypto-browserify
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

[NOREF] Upgrade cypress-related packages (#2805)
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

[NOREF] Upgrade luxon (#2806)
  package.json
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

[NOREF] Upgrade graphql-codegen libraries
  package.json
  src/gql/gen/graphql.ts
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

Text copy & components
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Rename query
  src/gql/apolloGQL/grbReview/CreateSystemIntakeGRBReviewers.ts
Owners: @CMS-Enterprise/easi-frontend

Add button link
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Text
  src/i18n/en-US/systemProfile.ts
Owners: @CMS-Enterprise/easi-frontend

Tsconfig `ESNext.Array`
  tsconfig.json
Owners: @CMS-Enterprise/easi

Roles ordered
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Only show defined roles
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

This individual has already been added as a team member `GetSystemTeamMembers` query
  src/gql/apolloGQL/GetSystemTeamMembers.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/systemProfile.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Revert "Tsconfig `ESNext.Array`"
  tsconfig.json
Owners: @CMS-Enterprise/easi

[NOREF] Upgrade graphql-codegen libraries (#2811)
  package.json
  src/gql/gen/graphql.ts
  yarn.lock
Owners: @CMS-Enterprise/easi-frontend

use GetRolesBySystem at tpo
  pkg/graph/schema.resolvers.go
Owners: @CMS-Enterprise/easi-backend

typo
  pkg/graph/schema.resolvers.go
Owners: @CMS-Enterprise/easi-backend

comment
  pkg/graph/schema.resolvers.go
Owners: @CMS-Enterprise/easi-backend

begin refactoring user account code for bulk ops
  pkg/authentication/user_account.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/sqlqueries/SQL/user_account/get_by_usernames.sql
  pkg/sqlqueries/user_account.go
  pkg/storage/user_account_store.go
  pkg/userhelpers/user_account_utils.go
Owners: @CMS-Enterprise/easi-backend

comment code under stub
  pkg/graph/resolvers/system_intake_grb_reviewer.go
Owners: @CMS-Enterprise/easi-backend

Field label markers List class Revert submit disabled
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
Owners: @CMS-Enterprise/easi-frontend

Adds functionality to dynamically add the environment name to email subjects when not in production
  cmd/test_email_templates/main.go
  pkg/appses/ses.go
  pkg/appses/ses_test.go
  pkg/email/subject_prepender.go
  pkg/email/subject_prepender_test.go
  pkg/graph/resolvers/trb_request_attendee_test.go
  pkg/graph/resolvers/trb_request_feedback_test.go
  pkg/graph/resolvers/trb_request_form_test.go
  pkg/graph/resolvers/trb_request_status_test.go
  pkg/graph/schema.resolvers_test.go
  pkg/local/email.go
  pkg/server/routes.go
Owners: @CMS-Enterprise/easi-backend

fix mutation in FE
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
Owners: @CMS-Enterprise/easi-frontend

StartGRBReview mutation
  src/gql/apolloGQL/grbReview/StartGRBReview.ts
  src/gql/gen/graphql.ts
  src/i18n/en-US/grbReview.ts
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi-frontend

Start GRB review button
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Mock review date prop & button rendering
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
  src/views/GovernanceReviewTeam/RequestOverview.tsx
Owners: @CMS-Enterprise/easi-frontend

Review date banner
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Unit tests
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Update form alert text
  src/i18n/en-US/grbReview.ts
Owners: @CMS-Enterprise/easi-frontend

Form info alert text
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/GRBReviewerForm/index.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

ParticipantsTable unit tests
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Participants start review alert
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.scss
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

ParticipantsTable unit tests
  src/views/GovernanceReviewTeam/GRBReview/ParticipantsTable.test.tsx
  src/views/GovernanceReviewTeam/GRBReview/index.test.tsx
Owners: @CMS-Enterprise/easi-frontend

Start GRB review modal
  src/i18n/en-US/grbReview.ts
  src/views/GovernanceReviewTeam/GRBReview/index.tsx
Owners: @CMS-Enterprise/easi-frontend

add start grb review column and resolver logic
  cmd/devdata/system_intake_grb_reviewers.go
  migrations/V190__Add_GRB_start_date_to_System_Intakes.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  src/gql/gen/graphql.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

use tx
  pkg/graph/resolvers/system_intake_grb_reviewer.go
Owners: @CMS-Enterprise/easi-backend

[EASI-4598] Start GRB review date (#2818)
  cmd/devdata/system_intake_grb_reviewers.go
  migrations/V190__Add_GRB_start_date_to_System_Intakes.sql
  pkg/graph/generated/generated.go
  pkg/graph/resolvers/system_intake_grb_reviewer.go
  pkg/graph/schema.graphql
  pkg/graph/schema.resolvers.go
  pkg/models/system_intake.go
  pkg/storage/system_intake.go
  src/gql/gen/graphql.ts
Owners: @CMS-Enterprise/easi-backend, @CMS-Enterprise/easi-frontend

`useIsWorkspaceParam`
  src/hooks/useIsWorkspaceParam.ts
  src/views/SystemProfile/components/Team/Edit/TeamMemberForm.tsx
  src/views/SystemProfile/components/Team/Edit/index.tsx
  src/views/SystemWorkspace/components/TeamCard/__snapshots__/index.test.tsx.snap
  src/views/SystemWorkspace/components/TeamCard/index.test.tsx
  src/views/SystemWorkspace/components/TeamCard/index.tsx
Owners: @CMS-Enterprise/easi-frontend

Fix TS and apollo configs
  .vscode/settings.json
  apollo.config.js
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend

Re-run gql gen
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi-frontend

[NOREF] Fix Typescript and Apollo client configs (#2820)
  .vscode/settings.json
  apollo.config.js
  src/types/graphql-global-types.ts
Owners: @CMS-Enterprise/easi, @CMS-Enterprise/easi-frontend
